.idea/
.gradle/
build/

local.properties

# Log Files
*.log

captures/

# IntelliJ
*.iml

.externalNativeBuild

vcs.xml

# lint
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/
# lint/reports/
